.video-container {
  width: 100%;
  position: relative;
}
video {
  width: 100%;
}
.btn-container {
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  font-size: 150%;
  padding: 14px 16px;
  text-align: center;
}
